/*
.markdown-rendered tbody tr:nth-child(odd) {
  background-color: gray;
}

*/
.markdown-preview-view .table-view-table {
  overflow-x: scroll;
  width: 100%;
}

.max-width table {
  max-width: 100% !important;
  width: 100% !important;
}

table {
 display: block;
 overflow: auto; 
}
th:nth-child(1) {
 min-width: 140px;
}

th:nth-child(3) {
 min-width: 140px;
}

th:nth-child(5) {
 min-width: 140px;
}

th:nth-child(6) {
 min-width: 120px;
}
